<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs'); %>
	</head>

	<body>

		<%- include ('partials/loader.ejs') %>
		<header><%- include ('partials/header.ejs'); %></header>
		<main>
			<section class="intro">
				<div>
					<h1 class="nameintro">
						I&#8217;m Brianne,<br />
						and I have plans.
					</h1>
					<div>
						<h2>Learning</h2>
						<h2>Growing</h2>
						<h2>Exploring</h2>
					</div>
				</div>

				<section>
					<div></div>
					<div>
						<p>
							Creative frontend developer
							(to-be).
						</p>
					</div>

					<a href="/aboutme">
						<p>More about me</p>
					</a>

					<div>
						<p>
							<span><%- blogAmount %></span><br />
							<span class="material-symbols-outlined"> menu_book </span><br />
							blogs
						</p>
					</div>
					<div>
						<a href="/weeklynerd">
							<p>
								<span class="material-symbols-outlined">north_east</span>
							</p>
						</a>
					</div>

					<div></div>
				</section>
			</section>

			<section class="quoted">
				<p>
					A blog to keep track, because, in the words of
					<a href="/posts/jeremykeith"><span>Jeremy Keith</span></a>
				</p>
				<p>
					The more you <em>tighten your grip</em>, the more the
					world wide web <em>slips through your fingers.</em>
				</p>
			</section>

			<section class='plans'>
				<h2>Goals and plans</h2>
				<p>
					Everything I wish to learn and achieve by the end of the Web Design &
					Development minor.
				</p>
				<section class="goalsplans">
					<section>
						<h5><em>Goal 1</em>: Styling</h5>
						<div>
							<h2>
								<span>Intuitively write CSS &</span><br />
								<span>become a master at</span><br />
								<span>responsive coding</span>
							</h2>

							<p>
								&#x201EThe amount of times I rely on search engines for questions like
								<em>how do I vertically align an element in a section?</em> is
								frankly embarrassing...&#x301E
							</p>

							<div class="iconcontainer">
								<span class="material-symbols-outlined">responsive_layout</span>
								<span class="material-symbols-outlined">family_history</span>
								<span class="material-symbols-outlined">devices</span>
							</div>

							<div>
								<a href="/goalsplans#css">
									<span class="material-symbols-outlined">north_east</span>
								</a>
							</div>
						</div>
					</section>

					<section>
						<h5><em>Goal 2</em>: User experience</h5>
						<div>
							<h2>Utilize transitions and animations to enhance the UX</h2>
						</div>
					</section>

					<section>
						<h5><em>Goal 3</em>: Personal</h5>
						<div>
							<img src="../images/gr-1.jpg" alt="">
							<h2>Set clear milestones & and success criteria</h2>
						</div>
					</section>
				</section>

				<a href="/goalsplans">
					<span>Discover my goals</span>
				</a>
			</section>

			<section class="quoted">
				<p>
					Or perhaps, as said by
					<a href="/posts/mariekedehoop"><span>Pim Schuurman and Marieke de Hoop</span></a>
				</p>
				<p>
					Digital accessibility isn't just about <em>compliance</em>; it's about <em>empathy and inclusivity</em>.
				</p>
			</section>

			<section class="blogs">
				<h2>Recent Blogs</h2>
				<p>The three most recently published blogs to keep you up to date!</p>

				<section class="blog-display">
					<% let counter = 0; %>
					<% blogMetadata.forEach(metadata => { %>
						<div>
							<div class="<%= counter === 0 ? 'activeblog' : ''%>" style="
										background-image: linear-gradient(
												to top,
												rgba(var(--color-gradientrgb), 0.6),
												rgba(var(--color-gradientrgb), 0)
											),
											url('../images/<%- metadata.image %>');
									">
								<div>
									<h5 class='blog-date'><%- metadata.date %></h5>
									<h3><%- metadata.name %></h3>
									<section class="blog-details">
										<p><%- metadata.description %></p>
										<h4 id='tagcontainer'>
											<% metadata.tags.forEach(function(tag) { %>

											<span> <%- tag %> </span>

											<% }); %>
										</h4>
									</section>
								</div>

								<a href="/posts/<%- metadata.lecturerUrl %>"><span class='material-symbols-outlined'>north_east</span></a>
							</div>
						</div>
						<% counter++; %>
					<% }); %>
				</section>
				<a href="/weeklynerd"> View all blogs </a>
			</section>

			<section class="quoted">
				<p>
					My journey continues, currently best described by
					<a href="/posts/rosaschuurman"><span>Rosa Schuurman</span></a>
				</p>
				<p>
					Surround yourself with <em>people who inspire you</em>, companies doing <em>cool things</em>, and <em>intern there</em>.
				</p>
			</section>

			<section class="pre-footer">
				<h2>Where do we go from here?</h2>
				<p>You've got the entire world (this website) at your feet (cursor).</p>

				<ul>
					<a href="/">
						<li>
							<p>Discover what drives me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="aboutme">
						<li>
							<p>Learn who I am</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/section.js"></script>
	</body>
</html>