<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('partials/header.ejs'); %></header>
		<main>
			<section class="introduction">
				<h1>
					<span>I&#8217;m</span><br />
					<span>Brianne</span>
				</h1>
				<h2>
					<span>Blog / personal site</span>
				</h2>
				<h3>
					I make stuff
					<span aria-hidden="true">
						<i class="material-symbols-outlined">arrow_forward</i>
						<img src="../images/gr-4.jpg" alt="" />
					</span>
					(<em>happen</em>)
				</h3>

				<p>
					And I have plans. For one, I plan to become a great creative frontend
					developer. I want to unleash my creativity and be able to actually
					realise what I dream up - no matter how big the dream or how crazy the
					idea. Accompany me on my journey by hearing all about the
					<em>Weekly Nerds</em> I attend, the leaps I take and the lessons I
					learn.
				</p>

				<p>
					<span>
						<span id="currentdate">Hello</span> |
						<span id="currenttime">Hi</span>
					</span>
				</p>

				<button
					aria-label="Scroll down to the content"
					id="scrolldowntocontent">
					Continue to content
				</button>
			</section>

			<!-- <section class="quotesection">
				<blockquote cite="posts/jeremykeith">
					<p>
						The more you tighten your grip, the more the world wide web slips
						through your fingers.
					</p>
					<h5>
						<cite>— Jeremy Keith</cite>
						<span>
							<i class="material-symbols-outlined">arrow_outward</i>
						</span>
					</h5>
				</blockquote>

				<h2>Goals and plans</h2>
				<p>
					Everything I wish to learn and achieve by the end of the Web Design &
					Development minor.
				</p>
				<section class="goals" id="goals">
					<section class="slide slide-1">
						<div>
							<span class="material-symbols-outlined">responsive_layout</span>
						</div>
						<div>
							<a href="/goalsplans#css">
								<h3>
									Intuitively write CSS <span>✴</span> become a
									<span>master</span> at responsive coding
								</h3>
							</a>
							<i class="material-symbols-outlined">north_east</i>
						</div>
						<div></div>
						<div>
							<span class="material-symbols-outlined scrollhorizontal"
								>arrow_forward</span
							>
						</div>
					</section>

					<section class="slide slide-2">
						<div>
							<span class="material-symbols-outlined">animation</span>
						</div>
						<div>
							<a href="/goalsplans#animationstransitions">
								<h3>
									Utilize transitions and <span>☻</span> animations to enhance
									the
									<span>UX</span>
								</h3>
							</a>
							<i class="material-symbols-outlined">north_east</i>
						</div>
						<div>
							<span class="material-symbols-outlined scrollleft"
								>arrow_back</span
							>
						</div>
						<div>
							<span class="material-symbols-outlined scrollhorizontal"
								>arrow_forward</span
							>
						</div>
					</section>

					<section class="slide slide-3">
						<div>
							<span class="material-symbols-outlined">mountain_flag</span>
						</div>
						<div>
							<a href="/goalsplans#setcriteria">
								<h3>
									Set clear milestones <span>♥︎</span> and success
									<span>criteria</span>
								</h3>
							</a>
							<i class="material-symbols-outlined">north_east</i>
						</div>
						<div>
							<span class="material-symbols-outlined scrollleft"
								>arrow_back</span
							>
						</div>
						<div>
							<span class="material-symbols-outlined scrollhome">home</span>
						</div>
					</section>
				</section>
			</section> -->

			<section class="blogs">
				<h2>Recent Blogs</h2>
				<p>The three most recently published blogs to keep you up to date!</p>

				<section class="blog-display" id="blogGrid">
					<% blogMetadata.forEach(metadata => { %>
					<article class="blog-item">
						<a href="/posts/<%- metadata.lecturerUrl %>" class="readblog">
							<div
								style="
									background-image: linear-gradient(
											to top,
											rgba(var(--color-gradientrgb), 0.6),
											rgba(var(--color-gradientrgb), 0)
										),
										url('../images/<%- metadata.image %>');
								">
								<i class="material-symbols-outlined">arrow_outward</i>
							</div>
							<div class="card-info">
								<h5>On <%- metadata.date %></h5>
								<h3><%- metadata.name %></h3>
								<p><%- metadata.description %></p>
							</div>
							<h4 id="tagcontainer">
								<% metadata.tags.forEach(function(tag) { %>

								<span> <%- tag %> </span>

								<% }); %>
							</h4>
						</a>
					</article>
					<% }); -%>
				</section>

				<a href="/weeklynerd"> View all blogs </a>
			</section>

			<section class="pre-footer">
				<h2>Where do we go from here?</h2>
				<p>You've got the entire world (this website) at your feet (cursor).</p>

				<ul>
					<a href="/">
						<li>
							<p>Discover what drives me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="aboutme">
						<li>
							<p>Learn who I am</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="weeklynerd">
						<li>
							<p>Check out my blogs</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="randomblog">
						<li>
							<p>Visit a random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/section.js"></script>
	</body>
</html>
