<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<%- include ('../partials/loader.ejs') %>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/weeklynerd">Weekly Nerd</a>/
				<a href="/posts/<%- lecturerUrl %>"><%- lecturerName %></a>
			</div>

			<section class="maincontent">
				<article class="blog">
					<h1><%- lecturerName %></h1>
					<p><em><%- description %></em></p>
					<p id="metadata">
						<%- week %> | <%- blogDate %> |
						<span id="tagcontainer">
							<% tags.forEach(function(tag) { %>

							<span class="tag">
								<i class="material-symbols-outlined">sell</i>
								<%- tag %>
							</span>

							<% }); %>
						</span>
					</p>
					<%- blogContent %>
				</article>
				<article class="reflection">
					<h2 class="reflectheading">My use, opinions and ideas</h2>
					<section id="stats">
						<ul>
							<li>
								How likely to use in the future:
								<span class="stat"><%- futureUse %></span>
							</li>
							<li>
								Impact on current projects:
								<span class="stat"><%- projectImpact %></span>
							</li>
							<li>
								Inspiration level:
								<span class="stat"><%- inspirationLevel %></span>
							</li>
						</ul>
					</section>
					<section id="opinions">
						<h3>Opinions</h3>
						<p><%- opinions %></p>
					</section>
					<section id="integration">
						<h3>Integration</h3>
						<p><%- integration %></p>
					</section>
				</article>
			</section>

			<section class="blogs">
				<h2>Blogs you'll like</h2>
				<p>
					Did you like this blog about <%- lecturerName %>'s guest lecture? Then
					you'll love these!
				</p>

				<section class="blog-display">
					<% let counter = 0; %> <% relatedBlogs.forEach(metadata => { %>
					<div>
						<div
							class="<%= counter === 0 ? 'activeblog' : ''%>"
							style="
								background-image: linear-gradient(
										to top,
										rgba(var(--color-gradientrgb), 0.6),
										rgba(var(--color-gradientrgb), 0)
									),
									url('../images/<%- metadata.image %>');
							">
							<div>
								<h5 class="blog-date"><%- metadata.date %></h5>
								<h3><%- metadata.name %></h3>
								<section class="blog-details">
									<p><%- metadata.description %></p>
									<h4 id="tagcontainer">
										<% metadata.tags.forEach(function(tag) { %>

										<span> <%- tag %> </span>

										<% }); %>
									</h4>
								</section>
							</div>

							<a href="/posts/<%- metadata.lecturerUrl %>"
								><span class="material-symbols-outlined">north_east</span></a
							>
						</div>
					</div>
					<% counter++; %> <% }); %>
				</section>
				<a href="/weeklynerd"> View all blogs </a>
			</section>

			<section class="pre-footer">
				<h2>Not done reading?</h2>
				<p>Here are some more things that might interest you,</p>

				<ul>
					<a href="/aboutme">
						<li>
							<p>Learn more about me</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/goalsplans">
						<li>
							<p>Read about my goals</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/randomblog">
						<li>
							<p>Visit another random blog</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/arcade">
						<li>
							<p>Play some games</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
					<a href="/">
						<li>
							<p>Go back home</p>
							<span class="material-symbols-outlined">north_east</span>
						</li>
					</a>
				</ul>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/darkmode.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
		<script>
			hljs.highlightAll();
		</script>
	</body>
</html>
