<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/weeklynerd">Weekly Nerd</a>/
				<a href="/posts/<%- lecturerUrl %>"><%- lecturerName %></a>
			</div>

			<section class="maincontent">
				<article class="blog">
					<h1><%- lecturerName %></h1>
					<p id="metadata">
						<%- week %> | <%- blogDate %> |
						<span id="tagcontainer">
							<% tags.forEach(function(tag) { %>

							<span class="tag">
								<i class="material-symbols-outlined">sell</i>
								<%- tag %>
							</span>

							<% }); %>
						</span>
					</p>
					<%- blogContent %>
				</article>
				<article class="reflection">
					<h2 class="reflectheading">My use, opinions and ideas</h2>
					<section id="stats">
						<ul>
							<li>
								How likely to use in the future:
								<span class="stat"><%- futureUse %></span>
							</li>
							<li>
								Impact on current projects:
								<span class="stat"><%- projectImpact %></span>
							</li>
							<li>
								Inspiration level:
								<span class="stat"><%- inspirationLevel %></span>
							</li>
						</ul>
					</section>
					<section id="opinions">
						<h3>Opinions</h3>
						<p><%- opinions %></p>
					</section>
					<section id="integration">
						<h3>Integration</h3>
						<p><%- integration %></p>
					</section>
				</article>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
	</body>
</html>
