<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs'); %>
	</head>

	<body>
		<header><%- include ('../partials/header.ejs'); %></header>
		<main>
			<div class="breadcrumbs">
				<a href="/">Home</a>/ <a href="/weeklynerd">Weekly Nerd</a>
			</div>

			<section class="regularcontent">
				<section>
					<h1>Weekly Nerd</h1>
					<p>
						Every week for the duration of the Web Design & Development minor, a
						guest from the workforce will give a guest lecture in the late
						Wednesday afternoon. These lectures cover a variety of subjects that
						can be (and usually are) of importance to 'rookie programmers' such
						as myself. In order to not lose the important knowledge I gain
						during these guest lectures, I've set up this
						<em>Weekly Nerd</em> blog - the very reason this site, in its
						entirety, exists. Let's discover the many interesting lessons
						learned during this semester at AUAS!<br />
						<br />
						Do you wonder how the blogs' filter classification works before you
						explore? If yes,
						<a href="#classification">skip to the classification, explained</a>.
					</p>
				</section>
				<section class="featured">
					<a href="randomBlog">
						<section class="creativegrid">
							<div></div>
							<div>
								<p><em>Don't know what to read?</em></p>
							</div>
							<div>
								<p>
									<em>Click on the</em>
									<strong>dice</strong>
									<em>to go to a random blog!</em>
								</p>
							</div>
							<div></div>
						</section>

						<div class="dice-container">
							<div class="dice">
								<div class="front">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="back">
									<span></span>
								</div>
								<div class="right">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="left">
									<span></span>
									<span></span>
								</div>
								<div class="top">
									<span></span>
									<span></span>
									<span></span>
								</div>
								<div class="bottom">
									<span></span>
									<span></span>
									<span></span>
									<span></span>
								</div>
							</div>
						</div>
					</a>
				</section>
			</section>

			<section class="blogs">
				<h2>All blogs</h2>
				<p>Packed, summarized and sorted in one place for your convenience.</p>

				<section class="controls">
					<section class="edit-view">
						<section class="blog-filters">
							<h3>
								<i class="material-symbols-outlined">filter_alt</i>
							</h3>
							<div class="tags">
								<label>
									<input type="checkbox" name="filtercategory" id="tagbutton" />
									Tags
									<i class="material-symbols-outlined">expand_more</i>
								</label>

								<div class="filter" id="tagsfilter">
									<label>
										<i class="material-symbols-outlined">done</i>
										Accessibility
										<input
											type="checkbox"
											name="tags"
											data-tag="Accessibility" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Code samples
										<input
											type="checkbox"
											name="tags"
											data-tag="Code samples" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										CSS
										<input type="checkbox" name="tags" data-tag="CSS" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Data
										<input type="checkbox" name="tags" data-tag="Data" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Design
										<input type="checkbox" name="tags" data-tag="Design" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										HTML
										<input type="checkbox" name="tags" data-tag="HTML" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										JavaScript
										<input type="checkbox" name="tags" data-tag="JavaScript" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Technology
										<input type="checkbox" name="tags" data-tag="Technology" />
									</label>
								</div>
							</div>

							<div class="likelytouse">
								<label>
									<input
										type="checkbox"
										name="filtercategory"
										id="likelytousebutton" />
									Likeliness to use
									<i class="material-symbols-outlined">expand_more</i>
								</label>

								<div class="filter" id="likelytousefilter">
									<label>
										<i class="material-symbols-outlined">done</i>
										Unlikely
										<input
											type="checkbox"
											name="likelytouse"
											data-tag="Unlikely" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Likely
										<input
											type="checkbox"
											name="likelytouse"
											data-tag="Likely" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Very likely
										<input
											type="checkbox"
											name="likelytouse"
											data-tag="Very likely" />
									</label>
								</div>
							</div>

							<div class="impact">
								<label>
									<input
										type="checkbox"
										name="filtercategory"
										id="impactbutton" />
									Impact on projects
									<i class="material-symbols-outlined">expand_more</i>
								</label>

								<div class="filter" id="impactfilter">
									<label>
										<i class="material-symbols-outlined">done</i>
										Small impact
										<input
											type="checkbox"
											name="impact"
											data-tag="Small impact" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Large impact
										<input
											type="checkbox"
											name="impact"
											data-tag="Large impact" />
									</label>
								</div>
							</div>

							<div class="inspiration">
								<label>
									<input
										type="checkbox"
										name="filtercategory"
										id="inspirationbutton" />
									Inspiration level
									<i class="material-symbols-outlined">expand_more</i>
								</label>

								<div class="filter" id="inspirationfilter">
									<label>
										<i class="material-symbols-outlined">done</i>
										Uninspired
										<input
											type="checkbox"
											name="inspiration"
											data-tag="Uninspired" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Inspired
										<input
											type="checkbox"
											name="inspiration"
											data-tag="Inspired" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Very inspired
										<input
											type="checkbox"
											name="inspiration"
											data-tag="Very inspired" />
									</label>
								</div>
							</div>
						</section>
						<section class="sort">
							<h3>
								<i class="material-symbols-outlined">sort</i>
							</h3>

							<div>
								<label>
									<input type="checkbox" name="filtercategory" id="sort" />
									Sort
									<i class="material-symbols-outlined">expand_more</i>
								</label>

								<div class="filter" id="sortblogs">
									<label>
										<i class="material-symbols-outlined">done</i>
										Newest first
										<input
											type="radio"
											name="sort"
											data-tag="Newest first"
											checked />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										Oldest first
										<input type="radio" name="sort" data-tag="Oldest first" />
									</label>
									<label>
										<i class="material-symbols-outlined">done</i>
										A-Z
										<input type="radio" name="sort" data-tag="A-Z" />
									</label>
								</div>
							</div>
						</section>
					</section>

					<section class="selectedfilters"></section>
				</section>

				<section class="blog-grid" id="blogGrid">
					<% blogMetadata.forEach(metadata => { %>
					<article class="blog-item">
						<a href="/posts/<%- metadata.lecturerUrl %>" class="readblog">
							<div
								style="
									background-image: url('../images/<%- metadata.image %>');
								">
								<i class="material-symbols-outlined">arrow_outward</i>
							</div>
							<div class="card-info">
								<h5>On <%- metadata.date %></h5>
								<h3><%- metadata.name %></h3>
								<p><%- metadata.description %></p>
							</div>
							<h4 id="tagcontainer">
								<% metadata.tags.forEach(function(tag) { %>

								<span> <%- tag %> </span>

								<% }); %>
							</h4>
						</a>
					</article>
					<% }); -%>
				</section>
			</section>

			<section id="classification">
				<h2>The Classification System, Explained</h2>
			</section>
		</main>
		<footer><%- include ('../partials/footer.ejs'); %></footer>
		<script src="/scripts/scrolltotop.js"></script>
		<script src="/scripts/scripts.js" type="text/javascript"></script>
	</body>
</html>
